input[type=text] {
  padding: 4px;
}

button[type=submit] {
  padding: 6px;
  margin-top: 8px;
}

span {
  padding: 10px;
}

nav li {
  display: inline-block;
  font-size: larger;
  padding: 0 42px;
}
