body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
  align-content: center;
}

form {
  display: inline-block;
  text-align: center;
  margin: 42px auto;
}

form select {
  width: 100%;
  margin-bottom: 4px;
}

input {
  padding: 3px;
  margin-bottom: 4px;
}

[type=submit] {
  margin: 0 auto;
}