* html {
  font-size: 125%;
}

html {
  font-size: 20px;
  line-height: 0.3em;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'PT Serif', serif;
  color: #555;
  padding: 20px;
  padding: 0;
  margin: 0;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.8em;
  font-size: 80%;
}

@media only screen and (min-width: 500px) {
  body {
    font-size: 100%;
  }
}

h1 {
  font-family: 'Source Sans Pro', serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}